# {{description}}

[![CI](https://github.com/{{github_user_name}}/{{module_name}}/actions/workflows/ci.yml/badge.svg)](https://github.com/{{github_user_name}}/{{module_name}}/actions/workflows/ci.yml)

<!-- BEGIN_TF_DOCS -->
<!-- END_TF_DOCS -->
